<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/login/ex1">Ex1</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a href="/login/hello">Hello</a>&nbsp;&nbsp;&nbsp;&nbsp;
<!--<a href="/login/process">Process</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<a href="/login/responseData">responseData</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<a href="/login/responseKey">responseKey</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<a href="/login/show1">show1</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<a href="/login/show2">show2</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<a href="/login/show3">show3</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<a href="/login/show4">show4</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<a href="/login/show5">show5</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--<a href="/login/show6">show6</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
<a href="/login/validate1">Registration</a>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;

<a href="/login/requestPost">requestPost</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
<a href="/login/requestGetAndPost">requestGetAndPost</a> &nbsp; &nbsp; &nbsp;
<a href="/login/pdf">Pdf</a>&nbsp;&nbsp;
<a href="/login/csv">Csv</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/login/setcookie">Setcookie</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/login/getcookie">Getcookie</a>&nbsp;&nbsp;
<a href="/login/deletecookie">deletecookie</a>&nbsp;&nbsp;
<a href="/login/showLogin">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/login/showStudentForm">ShowForm</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/login/register">register</a>&nbsp;&nbsp;
<a href="/login/form1">form</a>&nbsp;&nbsp;
</body>
</html>