<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login/submit1" method="post">
    <table>
			     <tr>
			        <td><label id="deptLbl">Name:</label> </td>
			        <td><input type="text" name="name" /></td>
			    </tr>
                <tr>
			        <td><label id="deptLbl">Age:</label> </td>
			        <td><input type="text" name="age"/></td>
			    </tr>


			    <tr>
			      <td colspan="2">
			      <input id="submit" type="submit" value="Submit"/></td>
		      </tr>
			</table>

</form>
</body>
</html>