<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
welcome {{request.session.fname}}
<br><br>

<a href="/customer/create/">Create Employee</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/customer/getall/">Get All Emps</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/customer/getemp/">Get Employee by id</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/customer/getemp1/">Get Employee by name</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/customer/dltemp/">Delete Employee</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/customer/sortemp/">Sort Employee</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/customer/logoutEmployee/">Logout Employee</a>&nbsp;&nbsp;&nbsp;&nbsp;
</body>
</html>